@model CourseStudentViewModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="~/StyleSheet.css" />

<div class="container" style="margin-top:20px;">
    <h2>Update a Student Information</h2>
    <form method="post" asp-action="Update">
        <div class="form-group row">
            <h4><label asp-for="Student.Name" class="col-sm-3 col-form-label">Name</label></h4>
            <div class="col-sm-9">
                <input asp-for="Student.Name" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <h4><label asp-for="Student.CourseID" class="col-sm-3 col-form-label">Course</label></h4>
            <div class="col-sm-9">
                <select asp-for="Student.CourseID" class="form-control">
                    @*This foreach makes the selection for the courses dynamic;
                        it increases or decreases in size based off of the number of courses.*@
                    @foreach (var course in Model.courses)
                    {
                        <option value="@course.ID">@course.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </div>

    </form>

    <div>
        <a asp-action="Index">Back to Student List</a>
    </div>
</div>