<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b5b4bcd-7582-485a-8e56-ad2b5541931c/resourcegroups/DotNetCohort4Lab13StudentEnrollmentResourceGroup/providers/Microsoft.Web/sites/JimmyChangLab13StudentEnrollment</ResourceId>
    <ResourceGroup>DotNetCohort4Lab13StudentEnrollmentResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jimmychanglab13studentenrollment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>23919f4b-4ed8-448d-9fd4-ffbfb49c259d</ProjectGuid>
    <MSDeployServiceURL>jimmychanglab13studentenrollment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JimmyChangLab13StudentEnrollment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JimmyChangLab13StudentEnrollment</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>